@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

/* 
verde: #49a09d
lilas: #5f2c82 */

body, html{
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
}

main{
    width: 100vw;
    height: 100vh;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}


section#login{

    background-color: white;
    width: 250px;
    height: 520px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
}

section#login > div#imagem{
    background:#5f2c82 url(../imagens/pexels-sutee-pheera-570047.jpg);
    height: 200px;
    background-size: cover;
    display: block;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

section#login > div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}
    section#login > div#formulario > p{
       

    }
    form > input[type=submit]{
        display: block;
        font-size: 1em;
        width: 100%;
        height: 40px;
        background-color: #49a09d;
        color: white;
        border: none;
        border-radius: 5px;
    }

    form > input[type=submit]:hover{
        background-color: #2d6462;
        cursor: pointer;
    }
    form > a.botao{
        display: block;
        text-align: center;
        font-size: 1em;
        width: 100%;
        height: 40px;
        background-color: white;
        border: 1px solid #49a09d;
        border-radius: 5px;
        text-decoration: none;
        color: #2d6462;
        padding-top: 7px;
    }

    form > a.botao:hover{
        background-color: #6cd3cf;
    }

    form > a.botao > span{
        font-size: 0.8em;
    }

    form > div.campo{
        display: block;
        height: 40px;
        border-radius: 5px;
        margin: 5px 0px;
        background-color: #5f2c82;
        border: 2px solid #5f2c82;
    }
    div.campo > label{
        display: none;
    }
    div.campo > span{
        color: white;
        
        width: 40px;
        font-size: 2em;
        padding: 5px;
    }

    div.campo > input{
        background-color: #94cfcd;
        font-size: 1em;
        width: calc(100% - 45px);
        height: 110%;
      
        border-radius: 5px;
        padding: 5px 0px 0px 0px ;
        transform: translateY(-10px);
    }

    div.campo > input:focus-within{
        background-color: white;
    }